#ask{
    width: 250px;
    font-family:a옛날목욕탕L;
    color: #6d6d6d;
    font-size:15pt;
    padding: 10px 10px;
    border-bottom: solid 1px;
    border-top: solid 1px;


}

.cartoon{
    border: 0px 0px;
    margin: auto;
    background-color: #ffffff;
}
}