h3{
    font-family:SCDream9;
    padding: 10px;
    margin: 90px auto 60px auto;
    font-size: 25pt;
  color: #5e7658;
}

.main2{
    margin: 100px 40px;
    filter:drop-shadow(0 10px 10px #5e7658)
}

.main2{
    animation-name: key;
    animation-direction: normal;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    z-index: 1;
    
}

@keyframes key{
    0%{
        opacity: 0.4;
    }
    50%{
        opacity: 1.0;
    }
    100%{
        opacity: 0.4;
    }
}
